body {
      background-color: rgb(250, 250, 250);
}

.logo-brand-div{
      display: flex;
      align-items: center;
      justify-content: space-between;
}
.navbar {
      display: flex;
      
      justify-content: space-around;
      font-size: 1.5rem;
      padding: 2%;
}
.container-fluid{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      /* gap: 8%; */
}
.navbar-things{
      display: flex;
      /* justify-content: space-between; */
      align-items: center;
      /* flex-direction: row; */
      /* gap: 8%; */
}
.navbar-nav{
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      gap: 4%;
}
.navbar-collapse{
      flex-grow: 0;
}
.navbar-brand {
      font-size: 2rem;
      color: white;
}

.navbar-brand:hover {
      color: grey;
}

#map {
      height: 60vh;
      /* Adjust the height as needed */
      width: 65%;
      /* Make the map take up the entire width of the screen */
      display: flex;
      border-radius: 20px;
}
.map-and-table{
      display: flex;
      flex-direction: row;
      padding: 3%;
      gap: 5%;
      justify-content: space-around;
}
.left-panel-most-polluted-list-of-cities{
      display: flex;

      flex-direction: column;   
      font-family: 'Open Sans', sans-serif;
      margin-top: 0%;
      background: linear-gradient(rgb(231, 129, 129),rgb(241, 221, 199));
      border-radius: 20px;
      padding: 3%;
      height: 10%;
      box-shadow: 0 0 10px 10px #afafaf;
  }
  
  .red-level{
      background-color:#f85858 ;
      border-radius: 15%;
  }
  .orange-level{
      background-color: #f89058;
      border-radius: 15%;
  }
  .most-polluted-city{
      font-family: 'Lexend', sans-serif;
      font-size: 2.5rem;
  }
  .city-fonts{
      font-size: 1.5rem;
  }
