body {
      background-color: rgb(254, 254, 247);
}

.btn btn-outline-success{
      background-color: white;
      color: white;

}
#customControl{
      position: absolute;
      top: 10px;
      left: 10pc;
      z-index: 1000;
      padding: 10px;
      border: none;
      border-radius: 5px;

}
.logo-brand-div{
      display: flex;
      align-items: center;
      justify-content: space-between;
}
.navbar {
      display: flex;
      justify-content: space-around;
      font-size: 1.5rem;
      padding: 0.3%;
}
.container-fluid{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      /* gap: 8%; */
}
.navbar-things{
      display: flex;
      /* justify-content: space-between; */
      align-items: center;
      /* flex-direction: row; */
      /* gap: 8%; */
}
.navbar-nav{
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      gap: 4%;
}
.navbar-collapse{
      flex-grow: 0;
}
.navbar-brand {
      margin-left: 50%;
      font-size: 2rem;
      color: white;
}


.navbar-brand:hover {
      color: grey;
}
.map-container {
      position: absolute 
  }
  
/* .button-container {
      position: relative;
      top: 0px;
  } */

  #button1{
      width: 20%;
  }

#map {
      height: 80vh;
      /* Adjust the height as needed */
      width: 60vw;
      /* Make the map take up the entire width of the screen */
      /* display: flex; */
      border-radius: 10px;
      margin-bottom: 5%;
      
}
.map-and-table{
      display: flex;
      flex-direction:column;
      padding: 1%;
      gap: 10%;
}
.left-panel-most-polluted-list-of-cities{
      display: flex;


      flex-direction: column;  
      font-family: 'Open Sans', sans-serif;
      margin-top: 0%;
      background: linear-gradient(rgb(231, 129, 129),rgb(241, 221, 199));
      border-radius: 20px;
      padding: 3%;
      height: 10%;
      width: 40vw;
      box-shadow: 0 0 10px 10px #afafaf;
  }
 
  .red-level{
      background-color:#f85858 ;
      border-radius: 15%;
  }
  .orange-level{
      background-color: #f89058;
      border-radius: 15%;
  }
  .most-polluted-city{
      font-family: 'Lexend', sans-serif;
      font-size: 2.5rem;
  }
  .city-fonts{
      font-size: 1.5rem;
  }

.input{
      margin-top: 5px;
}
#button{
margin-left: 0px;
}
#button1,#button2,#button3{
      width:10vw;
      height:30px;  
      font-size: 1rem;
      border-radius: 3px;
      padding: 0px;
      color: black;
      background-color: white;
      border-radius: 10%;
      background-attachment: scroll;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.button-map{
      display: flex;
      justify-content: center;
      margin-bottom: 5%;
      margin-top: 0pc;
}
.nav-link:link{
      color: white;
}
.nav-link:visited{
      color:white;
}
.mapattributes{
background-color: white;
width: 10px;
}


li{
      list-style: none;
}
#right-panel{
      background-color: #df0a0a53;
      width: 450px;
      height: 480px;
      margin-left: 64%;
      border-radius: 3pc;
}
#right-panel-info{
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.info {
      padding: 6px 8px;
      font: 14px/16px Arial, Helvetica, sans-serif;
      background: white;
      background: rgba(255, 255, 255, 0.8);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
    }
    
    .legend {
      line-height: 18px;
      color: #555;
    }
    
    .legend-item {
      margin-bottom: 5px;
      font-weight: bold;
    }
    
    .legend-color {
      width: 20px;
      height: 20px;
      display: inline-block;
      margin-right: 5px;
      border: 1px solid #ccc;
    }
    