body {
      background-color: rgb(254, 254, 247);
}

.btn btn-outline-success{
      background-color: white;
      color: white;

}
.airaware-image-logo{
      background-color: none;
}
#customControl{
      position: absolute;
      top: 10px;
      left: 10pc;
      z-index: 1000;
      padding: 10px;
      border: none;
      border-radius: 5px;

}
.logo-brand-div{
      display: flex;
      align-items: center;
      justify-content: space-between;
}
.navbar {
      display: flex;
      justify-content: space-around;
      font-size: 1.5rem;
      padding: 0.3%;
}
.navbar>.container-fluid{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      /* gap: 8%; */
}
.navbar-things{
      display: flex;
      justify-content: space-between;
      align-items: center;
      /* flex-direction: row; */
      /* gap: 8%; */
}
.navbar-nav{
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      gap: 5%;
}
.navbar-collapse{
      flex-grow: 0;
}
.navbar-brand {
      margin-left: 4%;
      align-self: center;
      font-size: 2rem;
      color: white;
}
.navbar-brand:hover {
      color: grey;
}
.button-container {
      position: absolute;
      margin-top: 10%;
}
#button1{
      width: 20%;
}
.left-panel-most-polluted-list-of-cities{
      display: flex;


      flex-direction: column;  
      font-family: 'Open Sans', sans-serif;
      margin-top: 0%;
      background: linear-gradient(rgb(231, 129, 129),rgb(241, 221, 199));
      border-radius: 20px;
      padding: 3%;
      height: 10%;
      width: 40vw;
      box-shadow: 0 0 10px 10px #afafaf;
  }
 
  .red-level{
      background-color:#f85858 ;
      border-radius: 15%;
  }
  .orange-level{
      background-color: #f89058;
      border-radius: 15%;
  }
  .most-polluted-city{
      font-family: 'Lexend', sans-serif;
      font-size: 2.5rem;
  }
  .city-fonts{
      font-size: 1.5rem;
  }

.input{
      margin-top: 5px;
}
#button{
margin-left: 0px;
}
#button1,#button2,#button3{
      width:10vw;
      height:30px;  
      font-size: 1rem;
      border-radius: 3px;
      padding: 0px;
      color: black;
      background-color: white;
      /* border-radius: 10%; */
      background-attachment: scroll;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.button-map{
      display: flex;
      justify-content: center;
      margin-bottom: 5%;
      margin-top: 0pc;
}
.nav-link:link{
      color: white;
}
.nav-link:visited{
      color:white;
}
.mapattributes{
      background-color: white;
      width: 10px;
}
#right-panel{
      background-color: #df0a0a53;
      /* width: fit-content; */
      /* height: fit-div; */
      /* width: 450px;
      height: 480px; */
      /* margin-left: 64%; */
      border-radius: 20px;
}
#map {
      height: 80vh;
      /* Adjust the height as needed */
      width: 70vw;
      /* Make the map take up the entire width of the screen */
      /* display: flex; */
      border-radius: 20px;
      /* margin-bottom: 5%; */
      
}
.map-and-table{
      display: flex;
      flex-direction: row;
      position: static;
      margin-top: 1.5%;
      padding: 1%;
      gap: 4%;
}
