/* li{
    list-style-type: none;
}
img{
    width: 60%;
   margin: auto;
}
#image{
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    background-color: rgb(254, 254, 247);
}

.btn btn-outline-success{
    background-color: white;
    color: white;

}
.logo-brand-div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.map-container {
    position: absolute ;
}

#button1{
    width: 20%;
}

.input{
    margin-top: 5px;
}
#button{
margin-left: 0px;
}
.nav-link:link{
    color: white;
}
.nav-link:visited{
    color:white;
}

 */
